<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Akhir - Dosen</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
    <div class="navbar">
        <h1>Portal TA</h1>
        <div class="nav-links">
            <a href="/dosen/home/sidang">Sidang</a>
            <a href="/dosen/home/tugas-akhir">Tugas Akhir</a>
        </div>
        <button class="logout-button" onclick="window.location.href='/logout';">Log out</button>
    </div>

    <div id="bodycontainer">
        <div id="subjudul"> Tugas Akhir Overview</div>
        <div class="utilitycontainer">
            <form method="get" action="/filter-ta" id="filterForm">
                <select id="sort" name="sort" onchange="this.form.submit()">
                    <option value="">Select Semester</option>
                    <th:block th:each="semester : ${semesters}">
                        <option th:value="${semester.semesterId}" 
                                th:text="${semester.tahunAjaran} + ' ' + ${semester.periode}"></option>
                    </th:block>
                </select>
            </form>
        </div>
        <div id="sidang-container">
            <div class="Sidangboxcontainer" th:each="sidangTA : ${listSidangTA}">
                <a th:href="@{/ta-page/{id}(id=${sidangTA.ta.taId})}" class="Sidangboxlink">
                    <div class="Sidangbox">
                        <div class="SidangboxPicture"></div>
                        <div class="SidangboxDescription">
                            <div class="subjudulcontainer">
                                <p class="judulSidang" th:text="${sidangTA.ta.topic}"></p>
                                <p class="deskripsiSidang" th:text="${sidangTA.mahasiswa.nama}"></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>