<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./home.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script rel="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
    <title>Portal TA</title>

</head>
<body>

    <div class="navbar">
        <h1>Portal TA</h1>
        <div class="nav-links">
            <a href="{{ url_for('koor.overview') }}">Overview</a>
            <a href="../../Pembobotan/pembobotan.html">Pembobotan</a>
        </div>
        <!-- <a class="logout-button" href="{{ url_for('auth.login') }}">Log out</a> -->
        <button class="logout-button" type="button" onclick="window.location.href='{{ url_for('auth.login') }}'">Log out</button>
    <!-- <div class="profile">J</div> -->
    </div>

    <div class="content">
        <h2>TA Overview</h2>
        <div class="filter-container">
            <select name="semester" id="semester">
                {% for semester in semesters %}
                    <option value="{{ semester.semester_id }}">{{ semester.tahun_ajaran }}</option>
                {% endfor %}
            </select>
            <input type="text" placeholder="Search">
            <select>
                <option>Semua</option>
                <option>Aktif</option>
                <option>Tidak Aktif</option>
            </select>
            <button>Add New</button>
        </div>

        <div class="card-grid">
            <a href="../../TAMainPage/Koordinator/TAPage.html">
                <div class="card">
                    TA 1: deskripsi...
                    <span>2024/2023</span>
                </div>
            </a>
            <div class="card">
                TA 1: deskripsi...
                <span>2024/2023</span>
            </div>
            <div class="card">
                TA 1: deskripsi...
                <span>2024/2023</span>
            </div>
            <div class="card">
                TA 1: deskripsi...
                <span>2024/2023</span>
            </div>
            <div class="card">
                TA 1: deskripsi...
                <span>2024/2023</span>
            </div>
            <div class="card">
                TA 1: deskripsi...
                <span>2024/2023</span>
            </div>
        </div>
    </div>

</body>
</html>
