body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
    position: relative;
    
}

.navbar {
    background-color: #ddd;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: last baseline;
}


.navbar h1 {
    font-size: 25px;
    margin: 0;
}

.navbar .nav-links {
    display: flex;
    gap: 20px;
    padding-left: 20px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.navbar .nav-links a:hover {
    color: #ffffff;
}

.navbar .profile {
    background-color: green;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#backbutton{
    position: absolute;
    width: 100px;
    height : 45px;
    border-style: solid;
    top:0px;
    left:16px;
    font-size: 36px;
    
    display: flex;
    justify-content: center;
    background-color: #ddd;
    
}

#judulTA{
    position: absolute;
    top:0px;
    left:518px;
    font-size: 40px;


}

#ketJudul{
    position: absolute;
    top:160px;
    left:646px;
    font-size: 28px;
}

