<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="SetUp.css">
    <script src="SetUp.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <h1>Portal TA</h1>
        <div class="nav-links">
            <a href="../MainPageSidang/Koordinator/homever2.html">Sidang</a>
            <a href="../Pembobotan/pembobotan.html">Pembobotan</a>
            <a href="../MainPageTugasAkhir/Koordinator/homever2.html">Tugas Akhir</a>
        </div>
        <!-- <div class="profile">J</div> -->
    </div>
    <button class="back-button">back</button>
    <div class="content">
        <h1 class="page-header">TA Overview / Set Up TA</h1>
        <div class="set-up-ta">
            <div class="TA-form">
                <div class="component" id="title-TA">
                    <label for="title">Judul</label><br>
                    <input type="text" name="title" id="title" placeholder="Judul Sidang">
                </div>
                <div class="component" id="date">
                    <label for="date-ta">Tanggal</label><br>
                    <input type="date" name="date-ta" id="date-ta">
                </div>
                <div class="component" id="time">
                    <label for="time-ta">Waktu</label><br>
                    <input type="time" name="time-ta" id="time-ta">
                </div>
                <div class="component" id="mahasiswa">
                    <label for="mahasiswa-ta">Mahasiswa</label><br>
                    <select name="mahasiswa-ta" id="mahasiswa-ta">
                        <option value="Default">--Pilih Mahasiswa--</option>
                        <option value="M1">Mahasiswa 1</option>
                    </select>
                    <!-- <input type="text" name="mahasiswa-ta" id="mahasiswa-ta"> -->
                </div>
                <div class="component" id="tempat">
                    <label for="tempat"></label>Tempat<br>
                    <input type="text" name="tempat" id="tempat">
                </div>
                <div class="component" id="keterangan">
                    <label for="jenis-ta">Jenis TA</label><br>
                    <select name="jenis-ta" id="jenis-ta">
                        <option value="Default">--TA1/TA2--</option>
                        <option value="TA1">Topik 1</option>
                        <option value="TA2">Topik 2</option>
                    </select>
                </div>

                
                <div class="component" id="jenis">
                    <label for="topik-ta">Topik TA</label><br>
                    <input type="text" name="topik-ta" id="topik-ta">
                </div>
                <div class="component">
                    <button class="add-button" id="add-new">Create TA</button>
                </div>
            </div>
            <div class="staffcontainer">
                <div class="staffcontainer-header">
                    <p>Staff :</p>
                    <button id="addstaff">Add Staff</button>
                </div>
                <div class="staffcontainer-body">
                    <div class="dosenbox">
                        <p>Name</p>
                        <p>Role</p>
                    </div>
                </div>
            </div>
    </div>
</body>
</html>