<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <h1>Portal TA</h1>
        <div class="nav-links">
            <a href="/mahasiswa/home/sidang">Sidang</a>
            <a href="/mahasiswa/home/tugas-akhir">Tugas Akhir</a>
        </div>
        <button class="logout-button" onclick="window.location.href='/logout';">Log out</button>
        <!-- <div class="profile">J</div> -->
    </div>

    
    <div id="bodycontainer">
        <div id="subjudul"> Tugas Akhir Overview</div>
        <div class="utilitycontainer">
            <form method="get" action="/filter-ta" id="filterForm">    
                <select id="sort" name="sort" onchange="this.form.submit()">
                    <option value="">Select Semester</option>
                    <option th:each="semester : ${semesters}" 
                            th:value="${semester.semesterId}" 
                            th:text="${semester.tahunAjaran} + ' ' + ${semester.periode}"></option>
                </select>
            </form>
    </div>
    <div id="sidang-container">
        <div class="Sidangboxcontainer" th:each="sidangTA : ${listSidangTA}">
            <a href="../../TAMainPage_sebelumTA/Mahasiswa/TApageOverview.html" class="Sidangboxlink">
                <div class="Sidangbox">
                    <div class="SidangboxPicture"></div>
                    <div class="SidangboxDescription">
                        <div class = "subjudulcontainer">
                            <p class="judulSidang" th:text="${sidangTA.ta.topic}"></p>
                            <p class="deskripsiSidang" th:text="${sidangTA.mahasiswa.nama}"></p>
                        </div>
                    </div>
                </div>
            </a> 
        </div>
    </div>

</body>
</html>