<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portal TA</title>
  <!-- <link rel="stylesheet" href="css/login.css"> -->
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <script rel="text/javascript" th:src="@{/js/Login/login.js}"></script>
  <script src="login.js" defer></script>
</head>
<body>
  <div class="container">
    <h1>Portal TA</h1>
    <div class="login-box">
      <h2>LOG IN</h2>
      <form action="/login" method="post">
        <div class="input-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" placeholder="Enter Email" required>
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Enter Password" required>
        </div>
        <div class="error-message">
        </div>
        <button type="submit" class="login-btn">Sign In</button>
      </form>
    </div>
  </div>
</body>
</html>
