<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Data\Kuliah\Tugas\Sems5\RPL\tubes\TubesRPL\portal-ta\portal-ta\src\main\resources\static\css\SidangMainPage_sebelumSidang\Mahasiswa\TApageOverviewcss.css">
    <title>Portal TA</title>

</head>
<body>

    <div class="navbar">
        <h1>Portal TA</h1>
        <div class="nav-links">
            <a href="../../MainPage/Koordinator/home.html">Overview</a>
            <a href="../../Pembobotan/pembobotan.html">Pembobotan</a>
        </div>
        <!-- <div class="profile">J</div> -->
    </div>
    <div id="backbutton">
        Back
    </div>
    <div id="judulTA">
        <p >JUDUL TA DISINI</p>
    </div>
    <div id="ketJudul">
        <p >TA1 / TA2</p>
    </div>
    <div id="FotoDosenContainer">
        <div id="framefotodosen">
            <div id="innercontainer">
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
            </div>
        </div>
    </div>
   
    <p id="titlePembimbing">
        Pembimbing dan Penguji : 
    </p>

    <div id="TableContainer">
        <div id="tableContainer">
          <div class="row">
            <div class="label">Tanggal/waktu :</div>
            <div class="data">monday, 26 Agustus 2024 18:00</div>
          </div>
          <div class="row">
            <div class="label">Lokasi :</div>
            <div class="data">10.0.03</div>
          </div>
          <div class="row">
            <div class="label">Mahasiswa :</div>
            <div class="data">Marjono sh.aj</div>
          </div>
          <div class="row">
            <div class="label">NPM :</div>
            <div class="data">618201069</div>
          </div>
        </div>
      </div>
</body>
</html>
