<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/SidangMainPage/Pembimbing/TAPage.css}">
    <title>Portal TA</title>

</head>
<body>

    <div class="navbar">
        <h1>Portal TA</h1>
        <!-- <div class="profile">J</div> -->
    </div>

    <div class="container">
        <button class="back-button" onclick="window.history.back();">back</button>
        <div class="header">
            <h2>JUDUL TA DISINI</h2>
            <p>TA 1</p>
        </div>
        <div class="details">
            <p><strong>Tanggal/waktu :</strong> <span>monday, 26 Agustus 2024 18:00</span></p>
            <p><strong>Lokasi :</strong> <span>10.0.03</span></p>
            <h3>Penilaian</h3>
        </div>
        <div class="penilaian">
            
            <div class="form-group">
                <div class="label-container">
                    <div class="label">TATA TULIS LAPORAN</div>
                    <div class="percentage">25%</div>
                </div>
                <input type="number" placeholder="value...">
                <button class="save-button">save</button>
            </div>
            <div class="form-group">
                <div class="label-container">
                    <div class="label">TATA TULIS LAPORAN</div>
                    <div class="percentage">25%</div>
                </div>
                <input type="number" placeholder="value...">
                <button class="save-button">save</button>
            </div>
            <div class="form-group">
                <div class="label-container">
                    <div class="label">TATA TULIS LAPORAN</div>
                    <div class="percentage">25%</div>
                </div>
                <input type="number" placeholder="value...">
                <button class="save-button">save</button>
            </div>
            <div class="form-group">
                <div class="label-container">
                    <div class="label">TATA TULIS LAPORAN</div>
                    <div class="percentage">25%</div>
                </div>
                <input type="number" placeholder="value...">
                <button class="save-button">save</button>
            </div>

            <div class="totalnilaigroup">
                <div id="totalnilai">TOTAL : </div>
                <div id="boxtotalnilai">value...</div>
            </div>
        </div>

        <div class="catatan">
            
            <fieldset>
                <legend>Catatan</legend>
                <textarea placeholder="Tulis catatan TA di sini..."></textarea>
            </fieldset>
        </div>
        <a href="/BAP">
            <button class="done-button">Done</button>
        </a>
        
    </div>

</body>
</html>