/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #222;
    color: #000;
}

.container {
    background-color: #fff;
    width: 80%;
    margin: 2rem auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

.navbar {
    background-color: #ddd;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: last baseline;
}


.navbar h1 {
    font-size: 25px;
    margin: 0;
}

.navbar .nav-links {
    display: flex;
    gap: 20px;
    padding-left: 20px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.navbar .profile {
    background-color: green;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.logout-btn {
    background-color: #fff;
    border: 1px solid #000;
    padding: 5px 10px;
    cursor: pointer;
    
}

/* Back Button */
.back-btn {
    background-color: #ccc;
    border: none;
    padding: 5px 15px;
    margin: 10px;
    cursor: pointer;
    float: left;
    font-weight: bold;
}

/* Content Section */
.content {
    padding: 20px;
    text-align: center;
}

.content h3 {
    margin: 20px 0;
    font-size: 1.5rem;
}

/* Form Styling */
.form-container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.form-container label {
    text-align: left;
    margin: 5px 0;
    font-weight: bold;
}

.form-container input,
.form-container select {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.save-btn {
    background-color: #ccc;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    float: right;
    margin-right: 35px;
}
