<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail TA</title>
    <link rel="stylesheet" th:href="@{/css/DetailTA/DetailTA.css}">
</head>
<body>
    <div class="navbar">
        <h1>Portal TA</h1>
    </div>

    <div class="container">
        <button class="back-button" onclick="window.history.back();">Back</button>

        <div class="title">
            <h1 th:text="${ta.topic}"></h1>
            <h3>TA <span th:text="${ta.tipe}"></span></h3>
        </div>

        <div class="form">
            <div class="row">
                <label for="npm">NPM</label>
                <span>:</span>
                <div class="input-box" th:text="${ta.npm}"></div>
            </div>
            <div class="row">
                <label for="mahasiswa">Mahasiswa</label>
                <span>:</span>
                <div class="input-box" th:text="${mahasiswa.nama}"></div>
            </div>

            <div class="row">
                <label for="pembimbing">Pembimbing-1</label>
                <span>:</span>
                <div class="input-box" th:text="${pembimbing1.nama}"></div>
            </div>
            <div class="row">
                <label for="pembimbing">Pembimbing-2</label>
                <span>:</span>
                <div class="input-box" th:text="${pembimbing2.nama}"></div>
            </div>
            <div class="row">
                <label for="pembimbing">Penguji-1</label>
                <span>:</span>
                <div class="input-box" th:text="${penguji1.nama}"></div>
            </div>
            <div class="row">
                <label for="pembimbing">Penguji-2</label>
                <span>:</span>
                <div class="input-box" th:text="${penguji2.nama}"></div>
            </div>
            <div class="row">
                <label for="pembimbing">Tanggal</label>
                <span>:</span>
                <div class="input-box" th:text="${sidang.tanggal}"></div>
            </div>
            <div class="row">
                <label for="pembimbing">Waktu</label>
                <span>:</span>
                <div class="input-box" th:text="${sidang.waktu}"></div>
            </div>
            <div class="row">
                <label for="pembimbing">Tempat</label>
                <span>:</span>
                <div class="input-box" th:text="${sidang.tempat}"></div>
            </div>
        </div>
    </div>
</body>
</html>